* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: #333533;
}

#ybar {
    position: absolute;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
    background-color: #fc5757;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    background-color: #242423;
}

.header-logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    transform: translateX(-35px);
}

.header-logo p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #a7a7a7;
    transform: translateY(-20px);
}

#peng {
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 500px;
    transform: translateX(-50%);
}
